---
layout: default
---
<div class="columns clearfix">
  <div class="column">
    <section>
      {% include roster.html %}
    </section>

    <section>
      {% include vjs.html %}
    </section>
  </div>
  <div class="column">
    <section>
      <h3 class="section-header">All events</h3>
      {% for post in site.posts %}
        {{ post.content }}
        <div style="clear: both;"></div>
      {% endfor %}
      <a href="/">&larr; Back to home</a>
    </section>
  </div>
  <div class="column one-fourth">
    <section>
      <h3 class="section-header">Buy a shirt</h3>
      <p>
        <a href="http://www.atomkinder.com/product/zero-fucks-neon-graffiti-logo/">
          <img src="images/cris-zf-shirt-500x.jpg" width="250" height="250" />
        </a>
      </p>

    </section>
    <section>
      {% include social.html %}
    </section>

    <section>
      <h3 class="section-header">Contact</h3>
      <p>Bookings, Press, Inquiries: <a href="mailto:info@zerofucks.de">info[at]zerofucks.de</a></p>
    </section>
  </div>
</div>
