---
layout: default
---
<div class="columns clearfix">
  <div class="column">
    <section>
      {% include roster.html %}
    </section>

    <section>
      {% include vjs.html %}
    </section>
  </div>
  <div class="column">
    <section>
      <h3 class="section-header">Zero Fucks</h3>
      <p>
        Over the last year, <strong>House of Bass</strong>, the monthly house night
        from San Francisco's <strong>Zero Fucks</strong> crew has regularly hit
        capacity at the intimate loft at Public Works, perhaps the city's most
        reliable venue for top shelf international house and techno events.
      </p>
      <p>
        This success can largely be attributed to the signature House of Bass sound,
        which nicely balances modern deep and tech house, garage-influenced
        festival tunes, and the current San Francisco sound of lighthearted and
        bass-heavy house music.
      </p>
      <p> The second key element of the continuing success of House of Bass is
        the friendly, unpretentious attitde of the Zero Fucks crew. This is not
        one of those parties where everyone is very serious about making sure
        everyone is having fun in exactly the right way, it's a casual affair
        where everyone is part of the family, and a DJ booth full of dancing
        strangers at the end of the night is the rule rather than a reason to
        call security.
      </p>
    </section>
  </div>
</div>
