<h3 class="section-header">zero fucks djs are</h3>
<ul class="roster">
  <li><a href="https://www.mixcloud.com/djspacecamp/">dj spacecamp</a> <span class="human-meta">SF</span></li>
  <li><a href="https://soundcloud.com/therationale<">rationale</a> <span class="human-meta">AMS &middot LA</span></li>
  <li><a href="https://www.mixcloud.com/dpeshmo/">dpeshMo</a> <span class="human-meta">SF</span></li>
  <li><a href="https://www.mixcloud.com/atmosdotorg/">atmøs</a> <span class="human-meta">SF</span></li>
  <li><a href="https://www.mixcloud.com/themaraby/">matt (matt todd) todd</a> <span class="human-meta">SF</span></li>
  <li><a href="https://www.mixcloud.com/rsanheim/">rsanheim</a> <span class="human-meta">Madison</span></li>
  <li><a href="https://www.mixcloud.com/rationale/rationale-x-chewy-chips-house-of-bass-holidaze-empire-room-sf/">chewy chips</a> <span class="human-meta">Big Island, HI</span></li>
</ul>
