<h3 class="section-header">Zero Fucks is</h3>
<ul class="roster">
  <li><a href="https://www.mixcloud.com/atmosdotorg/">atmøs</a> <span class="human-meta">SF</span></li>
  <li><a href="https://soundcloud.com/cielux/">Cielux</a> <span class="human-meta">SF</span></li>
  <li><a href="https://www.mixcloud.com/dpeshmo/">dpeshMo</a> <span class="human-meta">SF</span></li>
  <li><a href="https://www.soundcloud.com/officiallysubtle/">subtle.</a> <span class="human-meta">SF</span></li>
  <li><a href="https://www.mixcloud.com/rsanheim/">sanheim</a> <span class="human-meta">Berlin</span></li>
  <li><a href="https://www.mixcloud.com/rationale/">Rationale</a> <span class="human-meta">LA &middot; <a href="https://soundcloud.com/therationale">Originals</a></span></li>
  <li><a href="https://www.mixcloud.com/djspacecamp/">DJ Spacecamp</a> <span class="human-meta">SF</span></li>
  <li><a href="http://www.mixcloud.com/Surf_n_Turf/">Surf 'n' Turf</a> <span class="human-meta">Black Rock City</span></li>
  <li><a href="https://soundcloud.com/cease-n-desist">Cease &amp; Desist</a> <span class="human-meta">Black Rock City</span></li>

</ul>
