<h3 class="section-header">Follow us</h3>
<ul>
  <li><a href="https://www.facebook.com/zeroducks">Facebook</a></li>
  <li><a href="https://www.twitter.com/zerofucksmusic">Twitter</a></li>
  <li><a href="https://instagram.com/zerofucksmusic">Instagram</a></li>
  <li><a href="https://soundcloud.com/zerofucks">Soundcloud</a></li>
  <li><a href="https://www.mixcloud.com/zerofucks">Mixcloud</a></li>
</ul>
<br/>
<p>Get early bird access to upcoming parties. We'll never share your email.</p>
<div id="mc_embed_signup">
  <form action="//zerofucks.us9.list-manage.com/subscribe/post?u=66f68061578089b06b9e5ecca&amp;id=61ab0b28a0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group">
        <input type="email" placeholder="Your email" name="EMAIL" class="required email" id="mce-EMAIL">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_66f68061578089b06b9e5ecca_61ab0b28a0" tabindex="-1" value="">
      </div>
    </div>
  </form>
</div>
