/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

* {
  box-sizing: border-box;
}

a {
  color: rgba(255,255,255,0.85);
  text-decoration: none;
}

a:hover {
  color: rgba(255,255,255,0.6);
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

body {
  background: #14110c url(../images/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: rgba(255,255,255,0.6);
  font: 14px/1.4 'Helvetica Neue', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.container {
  margin: 0 auto;
  padding: 60px 0;
  width: 1000px;
}

.section-header {
  color: rgba(255,255,255,0.3);
  font-size: 16px;
  font-variant: small-caps;
  margin-bottom: 20px;
  position: relative;
  text-transform: lowercase;
  font-weight: bold;
}

.section-header:before {
  background: rgba(255,255,255,0.1);
  bottom: -5px;
  content: " ";
  height: 2px;
  position: absolute;
  width: 40px;
}

section {
  margin-bottom: 45px;
}

.column {
  float: left;
  margin-right: 40px;
}

.column:last-child {
  margin-right: 0;
}

.one-fourth {
  width: 25%;
}

.two-fifths {
  width: 50%;
}

.three-fifths {
  width: 75%;
}

.roster {
  font-size: 24px;
}

.human-meta {
  color: rgba(255,255,255,0.3);
  font-size: 12px;
}

input,
button {
  font-family: "Helvetica Neue", sans-serif;
  outline: none;
}

input[type=text],
input[type=email] {
  background: none;
  border: 1px solid rgba(255,255,255,0.2);
  padding: 6px;
}

input[type=text]:focus,
input[type=email]:focus {
  background: #1f1f16;
  color: #fff;
}

input[type=submit] {
  background: rgba(255,255,255,0.2);
  border: none;
  color: rgba(255,255,255,0.6);
  padding: 7px;
}

input[type=submit]:active {
  background: rgba(255,255,255,0.1);
  color: rgba(255,255,255,0.3);
}

p {
  margin: 0 0 1em;
}

section.dj h2 {
  font-size: 24px;
  color: rgba(255,255,255,0.85);
}

section.dj p {
  color: rgba(255,255,255,0.85);
}
