<!--
                                                                                ,
                                                                :               Et
                                   ,;       L.                 t#,              E#t      :             .,G:               .
          .Gt t                  f#i        EW:        ,ft    ;##W.             E##t     Ef           ,WtE#,    :        ;W
         j#W: Ej               .E#t         E##;       t#E   :#L:WE             E#W#t    E#t         i#D.E#t  .GE       f#E
       ;K#f   E#, t      .DD. i#W,          E###t      t#E  .KG  ,#D            E#tfL.   E#t        f#f  E#t j#K;     .E#f
     .G#D.    E#t EK:   ,WK. L#D.           E#fE#f     t#E  EE    ;#f           E#t      E#t      .D#i   E#GK#f      iWW;
    j#K;      E#t E#t  i#D :K#Wfff;         E#t D#G    t#E f#.     t#i       ,ffW#Dffj.  E#t fi  :KW,    E##D.      L##Lffi
  ,K#f   ,GD; E#t E#t j#f  i##WLLLLt        E#t  f#E.  t#E :#G     GK         ;LW#ELLLf. E#t L#j t#f     E##Wi     tLLG##L
   j#Wi   E#t E#t E#tL#i    .E#L            E#t   t#K: t#E  ;#L   LW.           E#t      E#t L#L  ;#G    E#jL#D:     ,W#i
    .G#D: E#t E#t E#WW,       f#E:          E#t    ;#W,t#E   t#f f#:            E#t      E#tf#E:   :KE.  E#t ,K#j   j#E.
      ,K#fK#t E#t E#K:         ,WW;         E#t     :K#D#E    f#D#;             E#t      E###f      .DW: E#t   jD .D#j
        j###t E#t ED.           .D#;        E#t      .E##E     G#t              E#t      E#K,         L#,j#t     ,WK,
         .G#t E#t t               tt        ..         G#E      t               E#t      EL            jt ,;     EG.
           ;; ,;.                                       fE                      ;#t      :                       ,
                                                         ,                       :;
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Zerofucks.de : Jana gives 0 fucks">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <title>zerofucks.de</title>
  </head>

  <body>
    <div class="container">
      {{content}}
    </div>
  </body>
</html>
